<div class="list">
    <label class="item item-input">
        <input type="text" ng-model="popupData.newBMMip" placeholder="IP">
    </label>
    <label class="item item-input">
        <input type="text" ng-model="popupData.newBMMtitle" placeholder="Title">
    </label>
    <label class="item item-input">
        <input type="text" ng-model="popupData.newBMMport" placeholder="Port">
    </label>
    <label class="item item-input">
        <textarea ng-model="popupData.newBMMdescription" placeholder="Description"></textarea>
    </label>
    <ion-list>
    </ion-list>
</div>