<ion-view view-title="Dashboard">
  <ion-content class="padding content-stable">
    <div class="list card">
      <div class="item item-divider assertive-bg">Test BMM 02</div>
      <div class="item item-body dark-bg">
        <div>
          <h2 class="light">09.06.2015 17:01:23</h2>
          <h2 class="light">spu.inputs:02 - Audio Lost</h2>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider assertive-bg">Test BMM 01</div>
      <div class="item item-body dark-bg">
        <div>
          <h2 class="light">09.06.2015 17:00:43</h2>
          <h2 class="light">spu.inputs:14 - Video Lost</h2>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider assertive-bg">Test BMM 01</div>
      <div class="item item-body dark-bg">
        <div>
          <h2 class="light">09.06.2015 15:32:12</h2>
          <h2 class="light">spu.inputs:11 - Video Lost</h2>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider assertive-bg">Test BMM 02</div>
      <div class="item item-body dark-bg">
        <div>
          <h2 class="light">08.06.2015 21:05:03</h2>
          <h2 class="light">spu.inputs:03 - Video Lost</h2>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider assertive-bg">Test BMM 03</div>
      <div class="item item-body dark-bg">
        <div>
          <h2 class="light">08.06.2015 19:21:33</h2>
          <h2 class="light">spu.inputs:05 - Video Lost</h2>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
